<!DOCTYPE html>
<html>
<head>

  <link rel='stylesheet' href='stylesheets/game.css'>
</head>
<body>
  <div class='game'>
    <canvas id="board" class="game-board"></canvas>
    <canvas id="next" class="game-board-next"></canvas>
  </div>
  <button onclick="play()" class="play-button">Play</button>


  <script src='scripts/constants.js'></script>
  <script src='scripts/board.js'></script>
  <script src='scripts/piece.js'></script>
  <script src='scripts/game.js'></script>
</body>
</html>