<!DOCTYPE html>
<html>
<head>

  <%- include('templates/standard.ejs') %>
  <link rel='stylesheet' href='/stylesheets/game.css'>
</head>
<body>
  <%- include('templates/navBar.ejs') %>
  <div class='games'>
    <div class='main-game'>
      <canvas id="board" class="main-game-board"></canvas>
      <canvas id="next" class="main-game-next"></canvas>
    </div>
    <div class="players">
      
    </div>
  </div>
  <!-- <button onclick="play()" class="play-button">Play</button> -->
  <div class='countdown'>

  </div>





  <script src='/socket.io/socket.io.js'></script>
  <script src='/scripts/generateName.js'></script>
  <script src='/scripts/handleSocket.js'></script>
  <script src='/scripts/constants.js'></script>
  <script src='/scripts/board.js'></script>
  <script src='/scripts/piece.js'></script>
  <script src='/scripts/game.js'></script>
</body>
</html>