<!DOCTYPE html>
<html>
<head>

  <%- include('templates/standard.ejs') %>
  <link rel='stylesheet' href='/stylesheets/game.css'>
</head>
<body>
  <%- include('templates/navBar.ejs') %>
  <div class='main'>
    <div class='scoreboard hide'>
      <div class='scoreboard-header'>
        <h2><%= room.name %></h2>
      </div>
      <div class='scoreboard-content'>

      </div>
    </div>
    <div class='games'>
      <div class='main-game'>
        <div class='main-game-slot'>
          <div class="main-game-left">
            <canvas id="hold" class="main-game-hold"></canvas>
            <canvas id="garbage" class="garbage-bar"></canvas>
          </div>
          <canvas id="board" class="main-game-board"></canvas>
          <canvas id="next" class="main-game-next"></canvas>
        </div>
      </div>
      <div class="players">
  
      </div>
    </div>
  </div>
  
  <!-- <button onclick="play()" class="play-button">Play</button> -->
  <h3 class='countdown'>

  </h3>

  <div class="garbage">

  </div>


  <script src='/scripts/generateName.js'></script>
  <% if (currentUser) {%>
    <script>
      let registeredUser = '<%- JSON.stringify(currentUser) %>'
      registeredUser = JSON.parse(registeredUser)
      const username = registeredUser.username
    </script>
  <% } else { %>
    <script>
      const registeredUser = null 
      const username = generateName()
    </script>
  <% } %>
  <script src='/socket.io/socket.io.js'></script>
  <script src='/scripts/handleSocket.js'></script>
  <script src='/scripts/constants.js'></script>
  <script src='/scripts/board.js'></script>
  <script src='/scripts/piece.js'></script>
  <script src='/scripts/game.js'></script>
</body>
</html>
