<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href="stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class='top-nav'>
      <div class='left'>
        
      </div>
      <div class='right'>
        <a href='/login' class='nav-item'>
          Login
        </a>
        <a href='/register' class='nav-item'>
          Register
        </a>
      </div>
    </nav>

    <a href='/game'>Play</a>
  </body>
</html>