<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href="/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('templates/navBar.ejs') %>

    <div>
      <a href='/game'>Play</a>
    </div>
    <div>
      <a href='/custom'>Browse server list</a>
    </div>
  </body>
</html>