<!DOCTYPE html>
<html>
  <head>
    <%- include('templates/standard.ejs') %>
  </head>
  <body>
    <%- include('templates/navBar.ejs') %>
    
    <form action="/login" method="POST">
      <input placeholder="Username" name="username">
      <input type="password" placeholder="Password" name="password">
      <button>Submit</button>
    </form>
  </body>
</html>