<!DOCTYPE html>
<html>
  <head>
    <%- include('templates/standard.ejs') %>
  </head>
  <body>
    <%- include('templates/navBar.ejs') %>
    
    <form action="/game" method="POST">
      <input placeholder="Name" name="name">
      <button>Submit</button>
    </form>
  </body>
</html>