<!DOCTYPE html>
<html>
<head>
  <%- include('templates/standard.ejs') %>
  <link rel='stylesheet' href='/stylesheets/settings.css'>
</head>
<body>
  <%- include('templates/navBar.ejs') %>
  <div class="main">
    <div class="header">
      <h1>settings</h1>
      <div>configure your controls</div>
    </div>
    <div class="controls">
      <div class="controls-slot">
        <div>left</div>
        <div>l</div>
      </div>
    </div>
  </div> 
</body>