body {
  /* background-color: #252525; */
}

.main {
  position: relative;
}

.scoreboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #2B3449;
  border-radius: 10px;
  border: 1px solid black;
  min-width: 400px;
  height: 300px;
  transition: 0.1s;
}

.scoreboard-header {
  text-align: center;
  padding: 10px;
}

.scoreboard-content-slot {
  display: grid;
  grid-template-columns: 30px auto;
  grid-gap: 0 5px;
  padding: 7px 15px;
}

.scoreboard-content .active {
  background-color: #3C4261;
}

.games {
  /* display: flex;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  transition: 0.1s;
}

.blur {
  opacity: 0.1;
}

.hide {
  opacity: 0 !important;
}

.main-game {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-game-slot {
  display: flex;
  align-items: flex-start;
}

.main-game-board {
  border: 1px solid #657080;
  /* margin: 0 20px; */
  background-color: #090808;
}

.main-game-next {
  border: 1px solid #657080;
  border-left: none;
  background-color: #090808;
}

.main-game-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main-game-hold {
  border: 1px solid #657080;
  border-right: none;
  background-color: #090808;
}

.garbage-bar {
  border: 1px solid #657080;
  border-right: none;
  border-top: none;
  background-color: #090808;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 20px;
}

.players-temp {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 20px;
}

.player-slot {
  /* display: flex;
  flex-direction: column; */
}

.board {
  border: 1px solid #657080;
  background-color: #090808;
}

.countdown {
  margin-top: 30px;
  text-align: center;
}
