.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.header {
  text-align: center;
}

h1 {
  margin: 10px;
}

.table {
  display: grid;
  margin-top: 50px;
  min-width: 600px;
  background-color: #2B3449;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* padding: 15px 0; */
  height: 45px;
  cursor: pointer;
}

.row:hover {
  background-color: #3C4261;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-row {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0;
}

.enter-row input {
  background-color: #141921;
  font-family: 'Maven Pro', sans-serif !important;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  color: var(--font-color);
  text-align: center;
  margin-right: 20px;
  width: 150px;
}

.enter-row input:focus {
  outline: none;
}

.enter-row button {
  color: inherit;
  background-color: inherit;
  font-size: 0.75em;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

.enter-row button:hover {
  background-color: #363636;
}

.hide {
  display: none;
}

.disable { 
  pointer-events: none;
  cursor: none;
  color: #444444 !important;
}

.password-input {
  width: 110px;
  background-color: #29303c;
  border: 1px solid #484747;
  padding: 5px;
  color: var(--font-color);
}

.password-input:focus {
  outline: none
}

.password-incorrect {
  outline: 1px solid red !important;
}