.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.header {
  text-align: center;
}

h1 {
  margin: 10px;
}

table {
  margin-top: 50px;
  min-width: 600px;
  background-color: #2B3449;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding: 15px;
}

tr:hover {
  background-color: #3C4261;
  cursor: pointer;
}