:root {
  --background-color: #222831;
  --font-color: #ffffff;
  --header-color: #FFC961;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--background-color);
  color: #ffffff;
}

h1, h2, h3 {
  font-family: 'Maven Pro', sans-serif !important;
}

h2, h3 {
  margin: 0px;
}

h1 {
  color: var(--header-color);
}

.top-nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left {
  margin-left: 20px;
}

.right {
  height: inherit;
  display: flex;
}

.nav-item {
  color: inherit;
  height: inherit;
  margin: 0 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

 