.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.header {
  text-align: center;
}

h1 {
  margin: 10px;
}

.controls {
  margin-top: 20px;
  width: 300px;
  background-color: #2B3449;
}

.controls-slot {
  display: grid;
  grid-template-columns: auto 40px;
}

.controls-slot div {
  padding: 10px;
}

.controls-slot div:first-child {
  padding-left: 15px;
}

.controls-slot div:nth-child(2) {
  text-align: center;
  background-color: #12151b;
  cursor: pointer;
}



